<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <title>{{title}}</title>
    <style>
        nav {
            border: 4px solid #F5F5DC;
        }
        form{
            border: 2px solid #F5F5DC;
            text-align:center;
        }

    </style>
</head>
<body style="background-color: #FFF5EE">
<header>
    <font face="comic sans ms">
    <nav class="navbar navbar-light" style="background-color: #FFE4E1">
        <a class="navbar-brand" href="#" >Выставка варенья</a>
        {% if current_user.is_authenticated %}
            <a class="navbar-brand" href="/logout">{{ current_user.company_name }}</a>
            <a class="btn btn-outline-primary my-2 my-sm-0" href="/products">Ваши продукты</a>

{% else %}
    <p>
        <a class="btn btn-outline-primary my-2 my-sm-0 " href="/register">Зарегистрироваться</a>
        <a class="btn btn-outline-success my-2 my-sm-0" href="/login">Войти</a>
    </p>
{% endif %}
    </nav>
        </font>
</header>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>
</body>
</html>